<div id="main">
    <section id="content" class="main">
        <h3 id="relogio">{{horarioAtual}}</h3>
        <label for="recebeMatricula">Informe sua matrícula</label>
        <input [(ngModel)]="matriculaInfo" id="recebeMatricula" class="col-12" type="text" name="matricula" value="" maxlength="6" placeholder="Ex.: 123456" style="text-align: center;"><br>
        <!--   onkeypress="if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;"   -->
        <button id="registrar" class="button primary fit" type="submit" (click)="registrar()">REGISTRAR</button>

        <h3 [ngClass]="apresentaMensagem1()" id="mensagem">Olá {{funcionarioSelected.nome}}, você já registrou todos seus horários hoje.</h3>
        <h3 [ngClass]="apresentaMensagem2()" id="pontoRegistrado">Olá {{funcionarioSelected.nome}} seu registro foi realizado com sucesso!</h3>
        <h3 [ngClass]="apresentaMensagem3()" id="mensagem">Matrícula incorreta. Favor tentar novamente ou entrar em contato com a empresa.</h3>
    </section>
</div> 

<script>
    
</script>
